<div class="component-ubar ubar-preferences ubar-hide">

  <button class="ubar-close-banner-button ubar-close-button">&times;</button>

  <div class="content">

    <div class="ubar-copy">
      <p class="ubar-banner-title">
        Rather Shop in the Browser?
      </p>

      <p class="ubar-banner-desc">
        Your current settings redirect you to our app
      </p>
    </div>

    <div class="ubar-actions">
      <button class="ubar-button ubar-preferences-button">
        Turn Off
      </button>

      <button class="ubar-button ubar-open-page-in-app-button">
        Open in App
      </button>
    </div>

  </div>

</div>