<div class="component-ubar ubar-hide">

  <button class="ubar-close-banner-button ubar-close-button">&times;</button>

  <div class="content">

    <div class="ubar-copy">
      <div class="app-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.2"  baseProfile="tiny" x="0px" y="0px" class="svg-image" viewBox="0 0 776 207">
          <g>
            <path d="M131.164 113c3.535 0 6.518-0.015 9.5 0.003c9.717 0.1 15.3 5.6 15.3 15.2 c0.033 8.833-0.496 17.7 0.1 26.49c0.678 9.305-3.842 14.751-11.587 18.109c-17.396 7.544-35.398 8.743-53.859 4.6 c-18.557-4.165-29.728-15.421-34.049-33.985c-3.158-13.566-2.763-27.269-2.576-40.969c0.163-11.865 1.89-23.544 5.886-34.812 c5.588-15.758 15.467-27.303 31.74-32.646c11.04-3.625 22.257-3.746 33.651-2.005c19.994 3.1 35.3 13.8 47.6 29.2 c6.134 7.7 11.2 16.2 16.9 24.246c0.961 1.4 2.8 2.1 4.9 3.634c0-21.92 0-42.342 0-62.763 c-0.373-0.338-0.746-0.677-1.119-1.015c-1.829 1.525-3.812 2.901-5.457 4.605c-3.842 3.981-8.016 7.573-13.872 7.1 c-5.999-0.51-11.995-1.505-17.879-2.798c-11.34-2.491-22.485-6.688-33.927-7.672c-11.901-1.024-24.218-0.106-36.069 1.8 c-25.084 3.957-46.553 15.289-61.919 36.002c-13.81 18.613-17.071 39.863-11.335 62.01c5.491 21.2 19.8 35.9 38.9 45.7 c27.275 13.9 56.1 14.4 85.6 8.703c19.367-3.771 37.715-12.407 58.37-11.707c0-2.018 0-3.645 0-5.271 c0-12.167-0.023-24.333 0.009-36.5c0.019-6.828 4.562-12.561 11.292-14.089c3.01-0.684 6.108-0.982 9.429-1.496 c0-1.301 0-2.688 0-4.222c-28.621 0-57.033 0-85.566 0C131.164 109.9 131.2 111.2 131.2 113z M694.999 36 c9.739 0 18.9 0.1 28.004-0.062c2.825-0.051 4.4 0.9 6 3.273c9.66 14.3 19.5 28.5 29.4 42.6 c0.97 1.4 2.9 2.1 4.3 3.124c0.63-1.685 1.789-3.363 1.807-5.054c0.153-14.661-0.051-29.326 0.204-43.983 c0.075-4.312-1.021-5.769-5.545-5.695c-16.323 0.266-32.654 0.092-48.981 0.101c-40.82 0.021-81.64 0.057-122.46 0.1 c-2.9 0-5.555-0.463-5.485 4.098c0.233 15.5 0.1 31 0.2 46.482c0.012 1.3 1.2 2.7 1.8 4 c1.256-0.798 2.922-1.311 3.707-2.437c9.397-13.481 18.798-26.966 27.887-40.655c2.81-4.23 5.721-6.405 11.155-6.021 c8.208 0.6 16.5 0.2 24.9 0.151c0 2.4 0 4.1 0 5.755c0.001 39.486-0.232 79 0.2 118.5 c0.091 8.544-7.112 15.667-15.1 15.292c-2.993-0.141-6.034-0.296-8.98 0.096c-1.442 0.192-2.72 1.622-4.071 2.5 c1.382 1 2.8 2.8 4.1 2.782c30.156 0.2 60.3 0.2 90.5 0.019c1.284-0.006 2.561-1.565 3.84-2.401 c-1.229-1.016-2.371-2.743-3.705-2.908c-3.447-0.426-6.981-0.106-10.479-0.187c-7.322-0.168-13.552-7.649-13.476-14.271 c0.366-31.819 0.165-63.645 0.165-95.467C694.999 56 695 46.4 695 36z M395.543 35.997c5.17 0 10.477-0.001 15.8 0 c10.03 0 14.2 4 14.2 14.036c0.126 36.5 0.2 73 0.3 109.437c0.018 10.643-5.712 16.29-16.529 16.4 c-4.622 0.061-9.245 0.01-14.067 0.01c0 1.9 0 3.3 0 4.734c0.743 0.1 1.2 0.3 1.7 0.3 c54.306 0 108.6 0 162.9 0.078c3.437 0 4.209-1.494 4.192-4.548c-0.086-15.991 0.015-31.984-0.129-47.975 c-0.014-1.491-1.281-2.972-1.967-4.458c-1.391 0.85-3.245 1.373-4.1 2.597c-10.642 15.233-21.086 30.605-31.752 45.8 c-1.057 1.507-3.228 3.121-4.914 3.156c-13.149 0.276-26.308 0.193-39.463 0.19c-7.133-0.001-14.034-7.102-13.941-14.303 c0.479-37.476 0.224-74.96 0.228-112.441c0.001-7.72 5.204-13.004 12.907-13.083c3.998-0.041 8 0.2 11.985-0.114 c1.588-0.128 3.082-1.426 4.618-2.191c-1.496-1.079-2.987-3.092-4.489-3.099c-31.316-0.148-62.634-0.038-93.951-0.078 C395.134 30.5 393.8 31.9 395.5 35.997z M257.162 30.96c0.27 4.9 0.3 4.9 4 5 c2.331 0.1 4.666-0.006 7 0.023c8.574 0.1 14.8 6 14.8 14.506c0.059 37 0.1 74 0 111 c-0.009 7.191-3.801 12.095-11.017 13.586c-4.155 0.859-8.529 0.65-12.803 0.947c-0.635 0.044-1.261 0.229-2.198 0.4 c0.154 1.5 0.3 2.9 0.5 4.563c30.361 0 60.336-0.016 90.3 0.019c4.143 0 3.481-2.227 2.699-5.106 c-4.058 0-7.884 0.182-11.688-0.037c-7.913-0.456-13.693-6.238-13.709-13.967c-0.074-37.328-0.066-74.655 0-111.983 c0.011-6.123 3.68-11.303 9.625-12.845c3.919-1.017 8.162-0.812 12.266-1.07c3.914-0.247 4.054-0.392 3.409-5.046 C319.433 31 288.5 31 257.2 30.96z" class="letter"></path>
            <path d="M131.164 113c0-1.848 0-3.131 0-4.708c28.533 0 56.9 0 85.6 0 c0 1.5 0 2.9 0 4.222c-3.321 0.514-6.419 0.812-9.429 1.496c-6.729 1.528-11.273 7.261-11.292 14.1 c-0.033 12.167-0.009 24.333-0.009 36.5c0 1.6 0 3.3 0 5.271c-20.655-0.7-39.003 7.936-58.37 11.7 c-29.467 5.737-58.341 5.207-85.616-8.703c-19.082-9.732-33.375-24.459-38.866-45.661c-5.736-22.146-2.474-43.396 11.335-62.01 C39.851 44.5 61.3 33.2 86.4 29.2c11.851-1.869 24.167-2.787 36.069-1.763c11.441 1 22.6 5.2 33.9 7.7 c5.885 1.3 11.9 2.3 17.9 2.798c5.856 0.5 10.029-3.095 13.872-7.076c1.644-1.704 3.627-3.08 5.457-4.605 c0.373 0.3 0.7 0.7 1.1 1.015c0 20.4 0 40.8 0 62.763c-2.127-1.534-3.947-2.279-4.908-3.634 c-5.694-8.03-10.716-16.58-16.851-24.246c-12.285-15.354-27.628-26.104-47.623-29.159c-11.394-1.741-22.612-1.62-33.651 2 c-16.273 5.344-26.151 16.889-31.74 32.646c-3.996 11.269-5.724 22.947-5.886 34.812c-0.187 13.7-0.582 27.4 2.6 41 c4.321 18.6 15.5 29.8 34 33.985c18.46 4.1 36.5 2.9 53.859-4.6c7.746-3.358 12.265-8.805 11.587-18.109 c-0.64-8.787-0.111-17.657-0.144-26.49c-0.036-9.62-5.611-15.121-15.328-15.18C137.682 113 134.7 113 131.2 113z" class="letter"></path>
            <path d="M694.999 36c0 10.4 0 20 0 29.659c0 31.8 0.2 63.647-0.165 95.5 c-0.076 6.6 6.2 14.1 13.5 14.271c3.498 0.1 7.032-0.239 10.5 0.187c1.334 0.2 2.5 1.9 3.7 2.9 c-1.279 0.836-2.556 2.396-3.84 2.401c-30.156 0.137-60.312 0.144-90.469-0.019c-1.388-0.007-2.767-1.813-4.148-2.782 c1.352-0.87 2.629-2.3 4.071-2.492c2.946-0.392 5.987-0.236 8.98-0.096c7.987 0.4 15.19-6.748 15.1-15.292 c-0.42-39.482-0.187-78.973-0.188-118.459c0-1.658 0-3.317 0-5.755c-8.42 0-16.7 0.429-24.908-0.151 c-5.435-0.385-8.346 1.79-11.155 6.021c-9.089 13.689-18.489 27.174-27.887 40.655c-0.785 1.126-2.451 1.639-3.707 2.4 c-0.635-1.334-1.81-2.662-1.821-4.001c-0.145-15.494 0.021-30.991-0.212-46.482c-0.069-4.561 2.585-4.098 5.485-4.098 c40.82-0.009 81.64-0.044 122.46-0.065c16.327-0.009 32.7 0.2 48.981-0.101c4.523-0.073 5.6 1.4 5.5 5.7 c-0.255 14.657-0.051 29.322-0.204 43.983c-0.018 1.69-1.177 3.369-1.807 5.054c-1.471-1.025-3.378-1.745-4.348-3.124 c-9.926-14.125-19.778-28.304-29.438-42.61c-1.603-2.373-3.157-3.324-5.982-3.273C713.873 36.1 704.7 36 695 36z" class="letter"></path>
            <path d="M395.543 35.997c-1.714-4.13-0.409-5.479 3.525-5.474 c31.317 0 62.635-0.07 94 0.078c1.502 0 3 2 4.5 3.099c-1.536 0.766-3.03 2.063-4.618 2.2 c-3.972 0.319-7.987 0.073-11.985 0.114c-7.703 0.079-12.906 5.363-12.907 13.083c-0.004 37.5 0.3 74.966-0.228 112.4 c-0.093 7.2 6.8 14.3 13.9 14.303c13.155 0 26.3 0.1 39.463-0.19c1.687-0.035 3.857-1.649 4.914-3.156 c10.666-15.216 21.11-30.588 31.752-45.821c0.854-1.224 2.709-1.747 4.1-2.597c0.686 1.5 2 3 2 4.5 c0.144 16 0 32 0.1 47.975c0.017 3.054-0.756 4.553-4.192 4.548c-54.307-0.077-108.612-0.061-162.918-0.078 c-0.475-0.001-0.949-0.177-1.692-0.324c0-1.419 0-2.798 0-4.734c4.822 0 9.4 0.1 14.067-0.01 c10.817-0.143 16.547-5.79 16.529-16.433c-0.061-36.479-0.154-72.958-0.28-109.437c-0.034-10.002-4.193-14.033-14.224-14.036 C406.02 36 400.7 36 395.5 35.997z" class="letter"></path>
            <path d="M257.162 30.96c31.34 0 62.3 0 93.2 0c0.645 4.7 0.5 4.799-3.409 5 c-4.104 0.259-8.347 0.054-12.266 1.07c-5.945 1.542-9.614 6.722-9.625 12.845c-0.066 37.328-0.074 74.7 0 112 c0.016 7.7 5.8 13.5 13.7 13.967c3.804 0.2 7.6 0 11.7 0.037c0.782 2.9 1.4 5.111-2.699 5.1 c-29.977-0.034-59.952-0.019-90.313-0.019c-0.166-1.647-0.304-3.027-0.458-4.563c0.938-0.179 1.563-0.364 2.198-0.408 c4.274-0.297 8.648-0.088 12.803-0.947c7.216-1.491 11.008-6.395 11.017-13.586c0.045-36.994 0.054-73.988-0.004-110.982 c-0.013-8.458-6.226-14.401-14.8-14.506c-2.333-0.029-4.667 0.045-6.999-0.023C257.43 35.9 257.4 35.8 257.2 30.96z" class="letter"></path>
          </g>
        </svg>
      </div>

      <p class="ubar-banner-title">
        Browse Better on Our App
      </p>

      <p class="ubar-banner-desc">
        Simpler, faster shopping is a tap away.
      </p>
    </div>

    <div class="ubar-actions">
      <button class="ubar-button ubar-install-app-button">
        Get the App
      </button>

      <button class="ubar-button ubar-open-app-button">
        Always Open in App
      </button>
    </div>

  </div>

</div>
