doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, user-scalable=0, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='http://code.jquery.com/jquery-1.11.2.js')
  body
    nav
      span#logo WHAT'S G#[span.title OO]D
    block content

  //script(src='/javascripts/loading-spinner.js')
  script(src='/javascripts/script.js')