body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#title {
  margin-bottom: 30px;
  margin-top: 0;
}

.venue {
  background-color: WhiteSmoke;
  padding: 5px 20px;
  margin: 2px 0;

  a {
    text-decoration: none;
  }

  ul {
    padding-left: 0px;
  }

  li {
    list-style: none;
  }

  li span {
    font-weight: bold;
  }
}